p{
  font-size:16px;
}

i.icon{
  font-size:350%;
  padding:10px;
}

body{
  padding:0px;
  font-size:100%;
}

div.left{
  width:10%;
  float:left;
  background-color:#2b2b28;
  font-size:18px;
  margin-top:50px;
}

ul.nav{
  margin:0px;
  padding:0px;
  list-style-type:none;
}

li{
  margin:1px 0px;
  border:1px solid transparent;
  box-shadow:0px 0px 3px rgb(239,6,6);
}

div.footer-div{
  padding:20px;
}

div.col-sm-4.col-xs-8{
  background-color:#282821;
  margin:1px 0px;
  border:1px solid transparent;
  box-shadow:0px 0px 2px #ef0606;
  color:#ffffff;
}

div#carousel-1.carousel.slide{
  width:50%;
  margin:0 auto;
}

div.jumbotron{
  background-color:#282821;
  color:#ffffff;
}

a{
  display:block;
  line-height:3em;
  width:100%;
  text-decoration:none;
  color:#ffffff;
}

img{
  background-image:url(../../assets/img/31.jpeg);
}

body{
  background-image:url(../../assets/img/160162_ocean-stone-bridge-island-hd-wallpapers_2560x1800_h.jpg);
  background-size:cover;
}

body{
  background-image:url(../../assets/img/42.jpg);
}

